existingSecret: minio-credentials

mode: standalone

environment:
  MINIO_BROWSER_REDIRECT_URL: https://minio-console.homelab.local

persistence:
  enabled: true
  storageClass: longhorn-2replicas
  size: 30Gi

resources:
  requests:
    memory: 256Mi
    cpu: 100m
  limits:
    memory: 512Mi
    cpu: 500m

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: storage
              operator: NotIn
              values:
                - small

ingress:
  enabled: false

consoleIngress:
  enabled: false